$bg-color: #282c34;
$color-secondary: #2c2c2c;
$text-color: rgb(163, 163, 163);
$border-color: rgba(255, 255, 255, 0.1);

$border-radius: 5px;

$screen-sm: 640px;
$screen-md: 960px;
$screen-lg: 1600px;
