@import "./generic/reset";
@import "./settings/fonts";
@import "./settings/variables";
@import "./settings/tools";
@import "./elements/bookItem";
@import "./elements/query";

body {
    font-family: $font-base;
    background-color: $bg-color;
    overflow-y: scroll;
}

.container {
    margin: 0 auto;
}
.container,
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
